<div id="stores">
  <% @stores.each do |store| %>
    <div class="store">
      <div class="image" style="background-color:#<%= store.design_background_color %>;">
        <%= image_tag(store.cafepress_design_url, :align => 'middle', :alt => store.description, :title => store.description) %>
      </div>
    </div>
  <% end %>
</div>