/*
#f0f0f0
#4D5453
#DBAE5E
#BD8741
#96602D
#66371B
*/
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*background-color: #DBAE5E !important;*/
  background-image: url(/images/fabric_bg.png);
  text-align: center;
}

div#header {
  width: 900px;
  text-align: center;
  margin: 0pt auto;
  background-image: url(/images/header_bg.png);
  height: 150px;
  border-bottom: 2px solid #96602D;
  border-left: 2px solid #96602D;
  border-right: 2px solid #96602D;
  margin-bottom: 10px;
  position: relative;
}

div#header div.menu {
  position: absolute;
  top: 100px;
  left: 0px;
}

div#header div.menu a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

div#header div.menu a:hover {
  background-color: #f0f0f0;
}

div#header div.menu ul {
  list-style: none;
}

div#header div.menu ul li {
  list-style: none;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #4D5453;
}

div#header div.menu ul li.first {
  padding-left: 0px;
  border-left: none;
}

div#content {
  background-color: #4D5453;
  width: 900px;
  text-align: center;
  margin: 0pt auto;
  padding-top: 20px;
  border: 2px solid #96602D;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div#footer {
  background-image: url(/images/footer_bg.png);
  background-repeat: no-repeat;
  height: 150px;
  margin: 0pt auto;
  text-align: center;
  width: 904px;
  position: relative;
}

div#footer div.menu {
  position: absolute;
  top: 80px;
  left: 500px;
}

div#footer div.menu a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
}

div#footer div.menu ul {
  list-style: none;
}

div#footer div.menu ul li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}

#stores {
  width: 850px;
  margin: 0pt auto;
  height: 100%;
}

#stores a:hover {
  border: 0px;
  color: inherit;
}

#stores .store {
  margin: 5px;
  float: left;
  width: 414px;
  height: 412px;
}

#stores .store .image, #stores .store .back-image, #stores .store .front-image {
  height: 412px;
  width: 412px;
  border: 1px solid #000000;
  margin: 5px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: transparent;
}

#stores .store .front-image {
  background-image: url(/images/front_bg.png);
  background-repeat: no-repeat;
}

#stores .store .back-image {
  background-image: url(/images/back_bg.png);
  background-repeat: no-repeat;
}

div.clear {
  clear:both;
}