/*
# Copyright 2010-2011 Benjamin Lee Smith <benjamin.lee.smith@gmail.com>
#
# This file is part of CafePress Wrapper.
# CafePress Wrapper is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# CafePress Wrapper is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with CafePress Wrapper.  If not, see <http://www.gnu.org/licenses/>.
*/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*background-color: #DBAE5E !important;*/
  background-color: #F5F5F5;
  text-align: center;
}

div#header {
  width: 900px;
  text-align: center;
  margin: 0pt auto;
  background-image: url(/images/header_bg.png);
  height: 150px;
  border-bottom: 2px solid #DEDEDE;
  border-left: 2px solid #DEDEDE;
  border-right: 2px solid #DEDEDE;
  margin-bottom: 10px;
  position: relative;
}

div#header div.menu {
  position: absolute;
  top: 100px;
  left: 0px;
}

div#header div.menu a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

div#header div.menu a:hover {
  background-color: #f0f0f0;
}

div#header div.menu ul {
  list-style: none;
}

div#header div.menu ul li {
  list-style: none;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #4D5453;
}

div#header div.menu ul li.first {
  padding-left: 0px;
  border-left: none;
}

div#content {
  background-color: #919191;
  width: 900px;
  text-align: center;
  margin: 0pt auto;
  border: 2px solid #DEDEDE;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div#content div#cart {
  background-color: #676767;
  margin-bottom: 20px;
  padding: 4px;
  position: relative;
}

div#content div#cart a, div#content div#cart a:visited {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin: 0pt auto;
  width: 192px;
  position: relative;
  height: 33px;
}

div#content div#cart a:hover {
  background-color: #676767;
}

div#content div#cart a div.text {
  position: absolute;
  top: 8px;
  left: 0px;
}

div#content div#cart a div.image {
  position: absolute;
  top: 0px;
  right: 0px;
}

div#content div#cart a div.image img {
  border: 0px;
  width: 32px;
  height: 32px;
}

div#footer {
  background-image: url(/images/footer_bg.png);
  background-repeat: no-repeat;
  height: 150px;
  margin: 0pt auto;
  text-align: center;
  width: 904px;
  position: relative;
}

div#footer div.menu {
  position: absolute;
  top: 80px;
  left: 455px;
}

div#footer div.menu a {
  text-decoration: none;
  font-size: 18px;
}

div#footer div.menu ul {
  list-style: none;
}

div#footer div.menu ul li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}

#stores, #about, #contact {
  width: 850px;
  margin: 0pt auto;
  height: 100%;
}

#about, #contact {
  background-color: #f0f0f0;
  padding: 20px;
  width: 810px;
}

#stores a:hover {
  border: 0px;
  color: inherit;
}

#stores .store {
  margin: 5px;
  float: left;
  width: 414px;
  height: 412px;
}

#stores .store .image, #stores .store .back-image, #stores .store .front-image {
  height: 412px;
  width: 412px;
  border: 1px solid #000000;
  margin: 5px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#stores .store .front-image {
  background-image: url(/images/front_bg.png);
  background-repeat: no-repeat;
}

#stores .store .back-image {
  background-image: url(/images/back_bg.png);
  background-repeat: no-repeat;
}

div.clear {
  clear:both;
}

#products {
  width:460px;
  float:left;
}

#products a {
  display: inline-block;
  border: 2px solid #fff;
  line-height: 0px;
  margin: 1px;
}

#products a > img {
  border: none;
}

#products a:hover {
  border: 2px solid #000000;
  background-color: inherit;
}

#products #mens_and_womens td {
  vertical-align: top;
  width: 50%;
  padding: 0px;
}

#products #mens_and_womens h2 {
  margin: 0px;
  padding: 8px;
}

#products #mens_and_womens div.thumbnails {
  padding-top: 8px;
}

#products #mens_and_womens #mens {
  border: 2px solid #7ABACC;
}

#products #mens_and_womens #mens h2 {
  background-color: #7ABACC;
}

#products #mens_and_womens #womens {
  border: 2px solid #FFB2CB;
}

#products #mens_and_womens #womens h2 {
  background-color: #FFB2CB;
}

#products #unisex {
  border: 2px solid #FFFBCB;
  margin: 4px;
}

#products #unisex h2 {
  background-color: #FFFBCB;
  margin: 0px;
  padding: 8px;
}

#products #unisex div.thumbnails {
  padding-top: 8px;
}

div#active_product {
  float:left;
  width:440px;
  position:relative;
  height: 462px;
}

div#moving_div {
  width:400px;
  height: 462px;
  position:absolute;
  left:20px;
  background-color:#ffffff;
  top:4px;
}

div#moving_div div#image {
  width: 400px;
  height: 350px;
  position: relative;
  z-index: 2;
}

div#moving_div div#loading_image_icon {
  position:absolute;
  left: 184px;
  top: 100px;
  z-index: 1;
}

div#moving_div div#info {
  text-align: left;
}

div#info div#name {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

div#info div#name span#price {
  color: #DD602D;
}

div#colors {
  width:400px;
}

div#colors div.label, div#sizes div.label, div#quantity div.label {
  float:left;
  padding: 1px 5px;
  width: 66px;
  text-align: right;
}

div#colors a {
  display: inline-block;
  line-height: 0px;
  border: 2px solid #ffffff;
}

div#colors a:hover {
  border: 2px solid #DBAE5E;
  background-color: inherit;
}

div#colors a > img {
  border: none;
}

div#colors img.swatch {
  width:20px;
  height:20px;
}

div#colors div.one_color {
  font-style: italic;
  color: #4D5453;
  font-weight: bold;
  font-size: 10px;
  float:left;
  padding-top: 2px;
}

div#colors div.multiple_colors {
  float:left;
  padding-top:1px;
}

div#sizes {
  padding: 2px 0px;
}

div#sizes div.size_select {
  float: left;
}

div#quantity {
  width: 400px;
  padding-top: 2px;
}

div#color_names {
  padding:2px 0px 0px 5px;
}

div#color_names div.color_description {
  padding-left: 10px;
}

div#moving_div div#info div#more_info {
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
}

div#moving_div div#info div#more_info a {
  color: #666666;
}

div#moving_div div#info div#add_to_cart {
   bottom: 35px;
   position: absolute;
   right: 12px;
}

div#moving_div div#info div#add_to_cart input {
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  width: 90px;
  background-color: #99ff00;
}
